* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

#map { 
  width: 100%;
  height: 70vh; 
}

/* elevation */
.elevation-wrapper {
  width: 100%;
  height: 30vh;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: hidden;

}

.elevation-wrapper > div {
  background: #fff;
  width: 100vw;
  padding-top: 2em;
}

.elevation-wrapper.is-scrollable > div {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.2' height='19.8' style='overflow:visible;enable-background:new 0 0 7.2 19.8' xml:space='preserve'%3E%3Cstyle%3E.st0%7Bopacity:.15%7D%3C/style%3E%3Cpath class='st0' d='M0 8.1h3.6v3.6H0zM0 16.2h3.6v3.6H0zM0 0h3.6v3.6H0z'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 5px;
  background-position: 0 9px;
}

/* markers */
.leaflet-marker-icon {
  opacity: 0.75;  
}
.is-zoom-strong .leaflet-marker-icon {
  opacity: 1;
}

/* mile markers */
.mile-marker {
  opacity: 1;
  display: none;
  align-items: flex-end;
  justify-content: center;
  width: 12.6701px;
  height: 19px;
  font-size: 8px;
  font-weight: bold;
}

.is-zoom-mid .mile-marker {
  display: flex;
  text-shadow: 1px 1px 0 #fff, -1px -1px #fff, -1px 1px #fff, 1px -1px #fff;
}

.is-zoom-strong .mile-marker {
  display: flex;
  background: url('/img/markers/mile.png');
  background-size: 100%;
  text-shadow: none;
  align-items: flex-start;
}
