html, body {
  margin: 0 0.5em;
  font-size: 12px;
  color: var(--black);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1ch 0;
}

h2 {
  font-size: 1.2rem;
}

button {
  padding: 1ch 1.25ch;
  background: var(--primary-light);
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: var(--roundness);
}
input[type="number"] {
  padding: 4px;
  appearance:textfield; 
}

button, input[type="number"] {
  font-size: 1rem;
}

.events {
  width: calc(100% + 2em - 4px);
  margin-left: calc(-1em + 2px);
  height: 25vh;
  overflow: scroll;
  background: var(--white);
  border-radius: var(--roundness);
}
.events ul {
  padding: 0;
  margin: 0;
}
.events__row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1ch;
  border-bottom: 1px dotted gray;
}
.events__row__label {
  flex: 1 0 5%;
  font-weight: bold;
}
.events__row__val {
  flex: 1 0 50%;
}

.controls {
  text-align: center;
  margin: 1em 0 0;
}

.stats {
  margin: 1em 0 1em;
  border-bottom: 1px dotted gray;
}
.stats:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}
.stats>div {
  padding-bottom: 2ch;
}
